.two{
    right: calc((100% - (100% - 700px)/2) + 3px);
    left: 0;
    background-color: pink;
    
}
.seven{
    right: 0;
    left:  calc((100% - (100% - 700px)/2) + 3px);
    background-color: aqua;
}
.beach{
    position: fixed;
    bottom: 0;
    top: 0;
}
.three{
    background-color: mintcream;
}
.four{
    background-color: yellow;
}
.four a{
    margin: 0;
}
.eight{
    background-color: blue;
    height: 160px;
}
.nine{
    background-color: violet;
    height: 175px;
    
}


.all{
    border: 3px solid black;
}
img{
    height: 140px;
    width: 150px; 
    margin: auto;
}

p, body{
    margin:0;
}
.center-blocks{
    margin: auto;
    min-width: 700px;
    max-width: 700px;
    height: 172px;
}
.one{
    font-size: 22px;
    background-color: orangered; 
    height: 160px;
}
.eight, .nine{
    font-size: 18px;
}

.inner-blocks{
    /* position: fixed; */
    min-width: 244px;
    max-width: 244px;
    height: 70px;
    left: 0;
}

.five{
    min-width: 294px;
    max-width: 294px;
    height: 146px;
    background: greenyellow;
}
.six{
    min-width: 150px;
    max-width: 150px;
    display: flex;
    background-color: skyblue;
}
.six p{
    display: flex;    
}

.flex-one{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* width: 700px; */
    left: 1000px;
}

@media only screen and (max-width:715px){
    body *{
        display: flex;
        flex-direction: column;
        margin: auto;
        flex-grow: 1;
        
    }
   
    .row1 div,.all{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: auto;
        font-size: medium;
        border-radius: 10px;
    }
    .beach{
        display: none;
    }
}








/* @media screen and
 /* (max-device-width: 720px) or  
 (max-width: 720px){
    body *{
        display: flex;
        flex-direction: column;
        margin: auto;
        flex-grow: 1;
        width: auto;
        font-size: medium;
        
    }
    p{
        font-size: 18px;
    }
    #row1 div,#one, #two, #three, #four, #five,#six,#seven,#eight,#nine{
        min-width: 100%;
        max-width: 100%;
        height: auto;
        
        font-size: medium;
        border-radius: 10px;
    }
    #two, #seven{
        visibility: hidden;
    }
} */